/* home page css here:  */

body {
    font-family: 'Merienda', cursive;
}

hr {
    width: 25%;
}

.hr-white {
    border: 1px solid white;
}

.kaa_bg-color {
    /* background-color: #086be5; */
    background-color: #0077b6;
}

.kaa_nav-bg-color {
    background-color: #00b4d8;
}

.btn-color {
    background-color: #0077b6;
    color: #fff;
    font-size: 20px;
    padding: 8px 15px;
}

.btn-color:hover {
    color: #fff;
    background-color: #00b4d8;
}

.social-icon-width {
    width: 10%;
}

.nav-item .nav-link {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #0077b6;
}

p {
    font-size: 18px;
}

.p-align {
    text-align: justify;
}

.how-can-we-help {
    background-image: url(../images/Corporate-law.jpg);
    background-position: center center;
    background-size: auto;
    background-attachment: fixed;
    padding: 50px 70px 50px 170px;
}

.right-img {
    background-image: url(../images/Corporate-law-1.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: auto;
}

.our-team-section {
    background-image: url(../images/Partner-bg.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: auto;
}

.queries-section {
    background-image: url(../images/Corporate-law-2.jpg);
    background-position: center center;
    background-size: auto;
}

input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 45px;
    padding-left: 10px;
}

#message-field {
    width: 100%;
    margin-top: 10px;
    padding: 10px 15px;
}

.address-section {
    background-color: #1d1d1d;
}

/* about us page css here: */
.bg-c-light {
    background-color: lightblue;
    border-radius: 25px;
}

.hr-black {
    border: 1px solid black;
}